
  
  #jedi{
    display: none;
    position: fixed;
    top: 10%;
    left: 51%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(22, 200, 13, 0.724);
    padding: 10px;
    z-index: 1000;
    border-radius: 15px;
    background-color: rgba(22, 200, 13, 0.724);
    box-shadow: 0px 0px 15px  rgba(22, 200, 13, 0.724);
    animation: fadeInOut 2s forwards;
    
  }

  #jedi p{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }


  .pht{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .pht .img{
    position: relative;
    top:80px;
    height: 500px;
    width: 500px;
  }